[user]
    name = Paul Dinh
    email = pdinh@houstonmechatronics.com
[pager]
    branch = false
    tag = false
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    excludesfile = /home/pdinh/.gitignore_global
; https://github.com/so-fancy/diff-so-fancy
; simply defining color.ui causes vcstool to not display colors when doing vcs status
; not defining it but doing the rest per the readme still makes diff-so-fancy pretty
;[color]
;    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
